body {
	margin: 0;
	background-color: #1B283A;
}

.area {
  /*fill: #CF000F;*/
  clip-path: url(#clip);

  stroke: #00a5ff;
  stroke-width: 2px;
}

.tick text {
	fill: #637ea3;
}

.tick line {
	stroke: #637ea3;
}

.axis path {
	stroke: #637ea3;
}

.event-line {
	fill: #00a5ff;
}

.event-line:hover {
	fill: yellow;
}

svg text {
 fill: #00a5ff;
}